.box-main{
    width: 98vw !important;
    height: 90vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-login{
    width: 30%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d6cc6;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}

.item-login{
    width: 200px;
}